---
import Layout from '../../../layouts/Layout.astro';
import Nav from '../../../layouts/common/Nav.astro';
import Gyms from '../../../layouts/sections/Gyms.astro';
import Footer from '../../../layouts/common/Footer.astro';
---

<Layout title="Gyms">
	<Nav></Nav>
	<Gyms></Gyms>
	<Footer></Footer>
</Layout>