---
import Layout from '../../../layouts/Layout.astro';
import Nav from '../../../layouts/common/Nav.astro';
import Towns from '../../../layouts/sections/Towns.astro';
import Footer from '../../../layouts/common/Footer.astro';
---

<Layout title="Towns">
	<Nav></Nav>
	<Towns></Towns>
	<Footer></Footer>
</Layout>