---
import Layout from '../../layouts/Layout.astro';
import Support from '../../layouts/sections/Support.astro';
import Nav from '../../layouts/common/Nav.astro';
import Footer from '../../layouts/common/Footer.astro';
---

<Layout title="Novamon Support">
	<Nav></Nav>
	<Support></Support>
	<Footer></Footer>
</Layout>