---
import Layout from '../layouts/Layout.astro';
import Hero from '../layouts/sections/Hero.astro';
import Community from '../layouts/sections/Community.astro';
import Nav from '../layouts/common/Nav.astro';
import Footer from '../layouts/common/Footer.astro';
import Affiliation from '../layouts/sections/Affiliation.astro';
---

<Layout title="Novamon">
	<Nav></Nav>
	<Hero></Hero>
	<Community></Community>
	<Affiliation></Affiliation>
	<Footer></Footer>
</Layout>