---
import ShowcaseCard from '../../components/cards/Showcase.astro'
---

<section class="flex w-full flex-col items-center gap-8 bg-neutral-900">
	<div class="container flex w-full flex-col gap-8 px-4 py-16 items-center">
		<h1 class="text-sm text-white text-center">Find us on</h1>
		<a class="group" href="https://findmcserver.com/server/novamon">
			<img class="h-32 group-hover:brightness-75 group-hover:scale-95 transition-all duration-200" src="../../../public/branding/third-party/MCServerList.webp">
		</a>
	</div>
</section>