---
import SupportCard from '../../components/cards/Support.astro';

const supportArticles = await Astro.glob("../../pages/support/*.md");
---

<section class="flex w-full flex-col justify-center bg-center bg-cover" style=`background-image: url('../../../images/scene.webp');`>
    <div class="backdrop-blur-lg">
        <div class="container mx-auto flex flex-col items-center gap-2 px-4 py-8">
            <h1 class="text-center text-4xl font-bold text-white">Support</h1>
            <h3 class="text-center text-sm font-light text-white bg-neutral-900 px-4 py-2">
                Explore our support articles.
            </h3>
        </div>
    </div>
</section>
<section class="w-full min-h-screen bg-neutral-800 flex items-center">
    <div class="container px-4 mx-auto flex flex-col gap-8">
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-8">
            {supportArticles.map(article => 
                <SupportCard title={article.frontmatter.title} description={article.frontmatter.description} url={article.url}></SupportCard>
            )}
        </div>
    </div>
</section>
<section class="w-full bg-neutral-950 flex items-center">
    <div class="container px-4 mx-auto flex flex-col">
        <p2 class="text-white text-md text-center px-4 py-8">
            Couldn't get your questions answered? Reach out at 
            <a class="font-bold hover:underline" href="mailto:support@novamon.net" target="_blank">support@novamon.net</a>.
        </p2>
    </div>
</section>