<section class="flex w-full flex-col items-center bg-neutral-950 px-4 py-16">
	<div class="text-center text-sm text-white">
		We declare no affiliation with any entities, including Minecraft and Pokémon.
	</div>
	<hr class="my-2" />
	<div class="text-sm font-light text-white">© 2024 Novamon</div>
</section>