<nav class="w-full bg-neutral-950">
	<div class="container mx-auto flex items-center justify-between p-4">
		<a href="/"><img class="h-8" src="/branding/Logo Extended Invert 512x123.png" /></a>
		<div class="flex gap-12">
			<a href="/support" class="group flex gap-4 transition-all duration-200">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="#FFFFFF"
					class="size-6 transition duration-200 group-hover:rotate-12 group-hover:scale-105"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"
					></path>
				</svg>
				<div
					class="hidden font-medium text-white transition duration-200 group-hover:scale-105 sm:block"
				>
					Support
				</div>
			</a>
			<a href="/giving-to-novamon" class="group gap-4 hidden">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="#FFFFFF"
					class="size-6 transition duration-200 group-hover:rotate-12 group-hover:scale-105"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M21 11.25v8.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 1 0 9.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1 1 14.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z"
					></path>
				</svg>
				<div
					class="hidden font-medium text-white transition duration-200 group-hover:scale-105 sm:block"
				>
					Give
				</div>
			</a>
		</div>
	</div>
</nav>